@tailwind base;
@tailwind components;
@tailwind utilities;

hmtl {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background-color: #474746;
    border-radius: 5px;
}

.body {
    background: radial-gradient(circle, rgba(8, 25, 48,1) 0%, rgba(1, 10, 23,1) 70%);
}

.mobilemenu {
    background: radial-gradient(circle, rgba(8, 25, 48,1) 0%, rgba(1, 10, 23,1) 70%);
}

.header {
    background-color: rgba(1, 10, 23,1);
}